; vim:ft=dosini
; File  : .editorconfig
; Author: Amsid S <amsit14@gmail.com>
; Date  : 06.12.2020
; vim:ft=dosini
; File              : .editorconfig
; Date              : 17.12.2019
; Last Modified Date: 17.12.2019

root = true

[*]
indent_style = space
indent_size = 3
end_of_line = lf
trailing_white_space = true
charset = utf-8
insert_final_newline = true

[*.md]
trailing_white_space = false

[*.{vim,vimrc}]
indent_style = space
indent_size = 3

[*.{sh,bash,fish,daah}]
indent_style = space
indent_size = 3

[*.{lua}]
indent_style = space
indent_size = 3

[{makefile,Makefile,**.mk}]
indent_style = tab
